// Typography
$base-font-family: "neuzeit-grotesk","Futura","Trebuchet MS","Arial",sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 0.84em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #0634A8;
$dark-gray: #00171F;
$medium-gray: #25393F;
$light-gray: #F3F5F8;
$white: #FFFFFF;
$dark-teal: #25393F;

// Personal Brand Colors
$chuck-flores-orange: #FB7917;
$chuck-flores-cream: #FDF9F2;
$chuck-flores-dark-grey: #464646;

// Font Colors
$base-font-color: $blue;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $light-gray;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Header
$header-height :86px;
