header {
  width: 100%;
  background-color: $blue;
  height: $header-height;
  position: fixed;
  z-index: 900
}

.header__container {
  @include outer-container;
  display: flex;
  justify-content: space-between;
}

.header__container--logo {
  // margin-top: 2.2em;
  padding-top: 2em;

  @include media($mobile,$mobile-small) {
    padding-left: 1em;
  }
}

h5,h6 {
  display: inline;
}

h6 {
  @include media($mobile,$mobile-small) {
    display: none;
  }
  margin-left: 0.1em;
}
