.l-details__overview--body--line-blue {
  background-color: $blue;
  height: 3px;
  margin-bottom: 2.8em;
  width: 167px;
}

.l-details__overview--body--line-white {
  background-color: $white;
  height: 2px;
  margin-bottom: 2.8em;
  width: 167px;
}

.l-details__info--body--line-white {
  background-color: $white;
  display: block;
  height: 2px;
  margin-top: 0em;
  margin-bottom: 0em;
  @include span-columns(8 of 8);
  @include media($mobile,$mobile-small) {
    @include span-columns(6);
  }
}

.l-body-line-blue {
  background-color: $blue;
  display: inline;
  @include span-columns(1 of 12);

  @include media($mobile,$mobile-small) {
    @include shift(0);
  }
  @include shift (1);
  height: 168px;
  width: 8px;
  padding-top: 2em;
}

.l-body-line-blue--2{
  background-color: $blue;
  display: inline;
  @include span-columns(1 of 12);

  @include media($mobile,$mobile-small) {
    @include shift(0);
  }
  @include shift (0);
  height: 148px;
  width: 8px;
  padding-top: 2em;
}

.l-quote {
  margin-top: 1em;

}

.l-body-line-blue--3{
  background-color: $blue;
  display: inline;
  @include span-columns(1 of 12);

  @include media($mobile,$mobile-small) {
    @include shift(0);
    height: 100px;
  }
  @include shift (0);
  height: 146px;
  width: 8px;
  padding-top: 2em;
}
