#about-me {
  text-align: center;
  width: 100%;
}

.column-12 {
    @include outer-container;
  }

  .column-6 {
    @include span-columns(6);
    @include shift(3);
    margin-top: 4em;
    margin-bottom: 5em;

    h3 {
      margin-bottom: 3em;
    }

    h5 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 2em;
    }

  }

#project-umi-kitchen {
  background-color: $medium-gray;
  text-align: center;
  width: 100%;
}

#project-okmyoutfit {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
}

#project-trail-brief {
  background-color: $medium-gray;
  text-align: center;
  width: 100%;

    a {
      display: block;
      margin-left: 0 auto;
      margin-right: 0 auto;
    }
}


.small-line {
  display: inline-block;
  height: 1px;
  width: 28px;
  background-color: $dark-gray;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

// Breadcrumbs
.breadcrumb-top {
  padding-left: 2em;
  padding-top: 1em;
}

.breadcrumb-bottom {
  background-color: $medium-gray;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.next-project-link {
  float: right;
  display: inline;
}

.home-bottom-link {
  float: left;
  display: inline;
}

// Umi Kitchen
#umi-section-1 {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
}

#umi-section-2 {
  background-color: $medium-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;
}

#umi-section-3 {
  background-color: $dark-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;

  .column-6 {
    margin-top: 6em;
    margin-bottom: 1em;
  }

  img {
    margin-bottom: 7em;
  }
}

#umi-section-4 {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;

  .column-6 {
    margin-top: 6em;
    margin-bottom: 1em;
  }

  img {
    margin-bottom: 7em;
  }
}

#umi-section-5 {
  background-color: $medium-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;

  .column-6 {
    margin-top: 6em;
    margin-bottom: 1em;
  }

  img {
    margin-bottom: 7em;
  }
}

#umi-section-6 {
  background-color: $dark-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;
}

#umi-section-7 {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 16em;
}

.umi-rogress-bar {
  padding-top: 2em;
}

#umi-section-8 {
  background-color: $medium-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;
}

#umi-section-9 {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;
}

.padding-bottom-2em {
  padding-bottom: 2em;
}

#umi-section-10 {
  background-color: $medium-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;

  .details-list-container {
    padding-top: 4em;
  }
}

// OkMyOutfit
#okmyoutfit-section-3 {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: -7px;
}

#okmyoutfit-section-4 {
  background-color: $dark-gray;
  text-align: left;
  width: 100%;
  padding-bottom: 13em;
  h5 {
    padding-top: 12em;
  }

  .huge-line {
    margin-top: 1.5em;
  }
}

#okmyoutfit-section-5 {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;
  h5 {
    margin-bottom: 0px;
  }
  h3 {
    margin-bottom: 1em;
  }
  .column-6 {
    margin-bottom: 1em;
  }
}

#okmyoutfit-section-6 {
  background-color: $medium-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;
  .details-list-container {
    padding-bottom: 1em;
  }
  .column-6 {
    margin-bottom: 2em;
  }
  .section-6-img {
    margin-top: 0em;
    .column-6 {
      margin-top: 0em;
    }
  }

}

#okmyoutfit-section-7 {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
  padding-bottom: 5em;
}

.hang-quote {
    margin-left: -22px;
  }

.huge-line {
  background-color: $orange;
  height: 2px;
  width: 14em;
  // margin-left: 0 auto;
  // margin-right: 0 auto;
  // float: left;
  // display: block;
}

.column-10 {
  @include span-columns(10);
  @include shift(1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-5 {
  @include span-columns(5);
}

.column-4 {
  @include span-columns(4);
}

.shift-2 {
  @include shift(2);
}

.shift-1 {
  @include shift(1);
}

.shift-0 {
  @include shift(0);
}

.column-3 {
  @include span-columns(3);
}

.column-8 {
  @include span-columns(8);
  @include shift(2);
}

.details-list-container {
  text-align: left;
}

.details-header {
  display: inline;
  h5 {
    display: inline;
  }
  .large-line {
    margin-top: 13px;
    margin-right: 16px;
  }
}

.details-list {
  margin-left: 64px;
  padding-top: 10px;
  p {
    margin-bottom: 6px;
  }
}

.large-line {
  background-color: $orange;
  height: 1px;
  width: 48px;
  float: left;
  display: inline;
}


// Trail Brief
#trail-brief-section-1 {
  background-color: $light-gray;
  text-align: center;
  width: 100%;
}

#trail-brief-section-2-desktop {
  text-align: center;
  width: 100%;
  display: block;
}

#trail-brief-section-2-mobile {
  display: none;
}




@media only screen and (max-width: 780px) {
  .column-6 {
    @include span-columns(12);
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
  }

  // .column-12 {
  //   padding-left: 1em;
  //   padding-right: 1em;
  // }

  .column-10 {
    @include span-columns(12);
    @include shift(0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
  }

  .umi-meal-system-container {
    display: flex;
    flex-direction: column;
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
    .column-3 {
      @include span-columns(12);
      padding-bottom: 2em;
    }
  }


  .column-8 {
    @include span-columns(12);
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
  }

  .shift-2 {
    @include shift(0);
  }

  .shift-1 {
    @include shift(0);
  }


  .column-4 {
    @include span-columns(12);
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .column-3 {
    @include span-columns(5.5);
    @include shift(0);

    }

  .umi-img-responsive-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 1em;
    padding-right: 1em;
  }

   .hang-quote {
    margin-left: 0px;
  }

  // #umi-section-7 {
  //   padding-bottom: 20em;
  // }
    #okmyoutfit-section-5 {
      img {
        padding-left: 1em;
        padding-right: 1em;
      }
    }

    #trail-brief-section-2-desktop {
      display: none;
    }

    #trail-brief-section-2-mobile {
      display: block;
    }
}
