.u-sublogo {
  color: $chuck-flores-dark-grey;
  font-family: 'montserratbold';
  font-size: 1em;
}

.u-sublogo_light {
  font-family: $base-font-family;
}

.u-application-tips {
  color: $chuck-flores-orange;
}

.u-work-h3 {
  margin-bottom: 1em;
}

.u-ok-landing-center {
  text-align: center;
  color: $chuck-flores-cream;
}
