body {
  background-color: $base-background-color;
  height: 100%;
  margin: 0;
  width: 100%;
  // @include outer-container (100%);
}

.w-header-spacer {
  background-color: $blue;
  height: 86px;
  width: 100%;
  margin-bottom: 0;
}

// Home Page
.w-hero__intro {
  background-color: $blue;
  @include fill-parent;
  margin-top: 0;
}

.w-hero__intro--container {
  @include outer-container;

  h1 {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 8em;
    padding-bottom: 3em;
    @include span-columns(7);
    @include shift(5);
    @include media($mobile,$mobile-small) {
      @include span-columns(4);
      @include shift(0);
    }
  }
}

.w-project {
  @include fill-parent;
  margin-top: 0;
  @include media($mobile,$mobile-small) {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.w-project--white {
  background-color: $white;
  @include fill-parent;
  margin-top: 0;
  @include media($mobile,$mobile-small) {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.w-project__container {
  @include outer-container;
}

.w-project__container--details {
  @include span-columns(12);
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em;
  width: 100%;
  h3 {
    margin-bottom: 0em;
  }
}

.button__outline {
  margin-top: 2em;
  // @include span-columns(2 of 12);
  // @include shift(5);
  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

// Project

// // Project Title
.w-title {
  display: flex;
  @include media($mobile,$mobile-small) {
    display: flex;
    flex-wrap: wrap;
  }
  width: 100%;
}

//  // Project Details
.w-details {
  display: block;
  height: 500px;
  text-align: left;
  width: 100%;
}

.w-details__overview {
  float: left;
  @include outer-container;
  @include media($mobile,$mobile-small) {
     padding-top: 3em;
     padding-bottom: 4em;
    width: 100%;
  }
  // order: 1;
  height: 500px;
  padding-top: 6em;
  padding-bottom:8em;
  width: 50%;
}

.w-details__info {
  background-color: $blue;
  float: left;
  @include outer-container;
  @include media($mobile,$mobile-small) {
    @include outer-container;
    height: 620px;
    padding-top: 5em;
    padding-bottom: 4em;
    width: 100%;
  }
  height: 500px;
  margin-bottom: -4em;
  padding-top: 8em;
  width: 50%;
}

// Block 1
.w-block-1 {
  background-color: $white;
  // float: left;
  // height: 500px;
  display: block;
  @include outer-container (100%);
}

// Block 2
.w-block-2 {
  @include span-columns(3 of 12);
  display: block;
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  @include media($mobile,$mobile-small) {
    @include span-columns(4);
  }
  // display: flex;
  // flex-direction: column;

  // align-items: center;
}

//  Block 3
.w-block-3 {
  float: left;
  display: block;
  @include outer-container (100%);
}

// Block 4
.w-block-4 {
  // background-color: red;
  @include span-columns(12);
  @include media($mobile,$mobile-small) {
    @include span-columns(4);
  }
}

.w-block-4__right {
  // background-color: green;
  @include span-columns(5 of 12);
  @include shift(1);
  padding-top: 8em;
  padding-bottom: 8em;
  @include media($mobile,$mobile-small) {
    @include span-columns(4 of 4);
    text-align: left;
    @include shift(0);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;

  }
}

.w-block-4__left {
  // background-color: yellow;
  @include span-columns(5 of 12);
  padding-top: 8em;
  padding-bottom: 8em;
  @include media($mobile,$mobile-small) {
    @include span-columns(4 of 4);
    padding-top: 2em;
  }
}

// Block 5
.w-block-5 {
  float: left;
  display: block;
  @include fill-parent;
  @include outer-container (100%);
  background-color: $blue;
}

// Block 6
.w-block-6 {
  @include outer-container (100%);
  @include media($mobile,$mobile-small) {
    // display: none;
  }
  // margin-top: 8em;
}

// Project End
.w-project-end {
  display: flex;
  flex-direction: row;
  @include media($mobile,$mobile-small) {
    flex-direction: column;
  }
  height: 306px;
  width: 100%;
}

.w-project-end__left {
  background-color: $blue;
  order: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include media($mobile,$mobile-small) {
    width: 100%;
    height: 240px
  }
}

.w-project-end__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  order: 2;
  width: 50%;
  height: 100%;
  @include media($mobile,$mobile-small) {
    width: 100%;
  }
}
