html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #F86E41;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #c65834;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #F86E41; }

fieldset {
  background-color: #fdfdfd;
  border: 1px solid #F6F5F5;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #F6F5F5;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #c5c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #F86E41;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(247, 91, 40, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #F6F5F5; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b9b8b8;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #F6F5F5;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #282828;
  font-family: "hypatia-sans-pro", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1 {
  color: #F6F5F5;
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 3.4px;
  line-height: 0em; }

h2 {
  color: #282828;
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: 0.4px;
  line-height: 0em;
  margin-bottom: 48px;
  margin-top: 36px; }

h3 {
  color: #dark-grey;
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 1.2px; }

h4 {
  color: #F6F5F5;
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.79px;
  line-height: 0em; }

h5 {
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 12px;
  color: #3C3C3C;
  letter-spacing: 2.4px;
  line-height: 0;
  text-transform: uppercase; }

.h5-orange {
  color: #F86E41; }

.h5-white {
  color: #F6F5F5; }

.h5-space-below {
  padding-bottom: 1em; }

p {
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0 0 0.75em; }

.p-white {
  color: #F6F5F5; }

a {
  color: #F86E41;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
  text-transform: uppercase;
  letter-spacing: 2px; }
  a:active, a:focus, a:hover {
    color: #fa9472; }

quote {
  color: #F6F5F5;
  font-family: "hypatia-sans-pro", sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: none; }

hr {
  border-bottom: 1px solid #F6F5F5;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

@media only screen and (max-width: 780px) {
  h1 {
    font-size: 5em; } }
@media only screen and (max-width: 540px) {
  h1 {
    font-size: 3.2em;
    margin-bottom: 0.7em; }

  h2 {
    font-size: 3em; }

  h4 {
    line-height: 0.8em; } }
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2.7em; }

  h2 {
    font-size: 2.8em; }

  h4 {
    font-size: 0.9em; }

  .breadcrumb-bottom a {
    font-size: 0.8em; } }
#about-me {
  text-align: center;
  width: 100%; }

.column-12 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .column-12::after {
    clear: both;
    content: "";
    display: table; }

.column-6 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  margin-left: 25.5894128995%;
  margin-top: 4em;
  margin-bottom: 5em; }
  .column-6:last-child {
    margin-right: 0; }
  .column-6 h3 {
    margin-bottom: 3em; }
  .column-6 h5 {
    margin-bottom: 8px; }
  .column-6 p {
    margin-bottom: 2em; }

#project-umi-kitchen {
  background-color: #E9E6E5;
  text-align: center;
  width: 100%; }

#project-okmyoutfit {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%; }

#project-trail-brief {
  background-color: #E9E6E5;
  text-align: center;
  width: 100%; }
  #project-trail-brief a {
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto; }

.small-line {
  display: inline-block;
  height: 1px;
  width: 28px;
  background-color: #282828;
  margin-left: 0 auto;
  margin-right: 0 auto; }

.breadcrumb-top {
  padding-left: 2em;
  padding-top: 1em; }

.breadcrumb-bottom {
  background-color: #E9E6E5;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em; }

.next-project-link {
  float: right;
  display: inline; }

.home-bottom-link {
  float: left;
  display: inline; }

#umi-section-1 {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%; }

#umi-section-2 {
  background-color: #E9E6E5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }

#umi-section-3 {
  background-color: #282828;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }
  #umi-section-3 .column-6 {
    margin-top: 6em;
    margin-bottom: 1em; }
  #umi-section-3 img {
    margin-bottom: 7em; }

#umi-section-4 {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }
  #umi-section-4 .column-6 {
    margin-top: 6em;
    margin-bottom: 1em; }
  #umi-section-4 img {
    margin-bottom: 7em; }

#umi-section-5 {
  background-color: #E9E6E5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }
  #umi-section-5 .column-6 {
    margin-top: 6em;
    margin-bottom: 1em; }
  #umi-section-5 img {
    margin-bottom: 7em; }

#umi-section-6 {
  background-color: #282828;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }

#umi-section-7 {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%;
  padding-bottom: 16em; }

.umi-rogress-bar {
  padding-top: 2em; }

#umi-section-8 {
  background-color: #E9E6E5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }

#umi-section-9 {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }

.padding-bottom-2em {
  padding-bottom: 2em; }

#umi-section-10 {
  background-color: #E9E6E5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }
  #umi-section-10 .details-list-container {
    padding-top: 4em; }

#okmyoutfit-section-3 {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: -7px; }

#okmyoutfit-section-4 {
  background-color: #282828;
  text-align: left;
  width: 100%;
  padding-bottom: 13em; }
  #okmyoutfit-section-4 h5 {
    padding-top: 12em; }
  #okmyoutfit-section-4 .huge-line {
    margin-top: 1.5em; }

#okmyoutfit-section-5 {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }
  #okmyoutfit-section-5 h5 {
    margin-bottom: 0px; }
  #okmyoutfit-section-5 h3 {
    margin-bottom: 1em; }
  #okmyoutfit-section-5 .column-6 {
    margin-bottom: 1em; }

#okmyoutfit-section-6 {
  background-color: #E9E6E5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }
  #okmyoutfit-section-6 .details-list-container {
    padding-bottom: 1em; }
  #okmyoutfit-section-6 .column-6 {
    margin-bottom: 2em; }
  #okmyoutfit-section-6 .section-6-img {
    margin-top: 0em; }
    #okmyoutfit-section-6 .section-6-img .column-6 {
      margin-top: 0em; }

#okmyoutfit-section-7 {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%;
  padding-bottom: 5em; }

.hang-quote {
  margin-left: -22px; }

.huge-line {
  background-color: #F86E41;
  height: 2px;
  width: 14em; }

.column-10 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
  margin-left: 8.5298042998%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .column-10:last-child {
    margin-right: 0; }

.column-5 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%; }
  .column-5:last-child {
    margin-right: 0; }

.column-4 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .column-4:last-child {
    margin-right: 0; }

.shift-2 {
  margin-left: 17.0596085997%; }

.shift-1 {
  margin-left: 8.5298042998%; }

.shift-0 {
  margin-left: 0%; }

.column-3 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .column-3:last-child {
    margin-right: 0; }

.column-8 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  margin-left: 17.0596085997%; }
  .column-8:last-child {
    margin-right: 0; }

.details-list-container {
  text-align: left; }

.details-header {
  display: inline; }
  .details-header h5 {
    display: inline; }
  .details-header .large-line {
    margin-top: 13px;
    margin-right: 16px; }

.details-list {
  margin-left: 64px;
  padding-top: 10px; }
  .details-list p {
    margin-bottom: 6px; }

.large-line {
  background-color: #F86E41;
  height: 1px;
  width: 48px;
  float: left;
  display: inline; }

#trail-brief-section-1 {
  background-color: #F6F5F5;
  text-align: center;
  width: 100%; }

#trail-brief-section-2-desktop {
  text-align: center;
  width: 100%;
  display: block; }

#trail-brief-section-2-mobile {
  display: none; }

@media only screen and (max-width: 780px) {
  .column-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-left: 0%;
    padding-left: 1em;
    padding-right: 1em; }
    .column-6:last-child {
      margin-right: 0; }

  .column-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-left: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em; }
    .column-10:last-child {
      margin-right: 0; }

  .umi-meal-system-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em; }
    .umi-meal-system-container:last-child {
      margin-right: 0; }
    .umi-meal-system-container .column-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      padding-bottom: 2em; }
      .umi-meal-system-container .column-3:last-child {
        margin-right: 0; }

  .column-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-left: 0%;
    padding-left: 1em;
    padding-right: 1em; }
    .column-8:last-child {
      margin-right: 0; }

  .shift-2 {
    margin-left: 0%; }

  .shift-1 {
    margin-left: 0%; }

  .column-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em; }
    .column-4:last-child {
      margin-right: 0; }

  .column-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 44.5562720511%;
    margin-left: 0%; }
    .column-3:last-child {
      margin-right: 0; }

  .umi-img-responsive-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-left: 1em;
    padding-right: 1em; }

  .hang-quote {
    margin-left: 0px; }

  #okmyoutfit-section-5 img {
    padding-left: 1em;
    padding-right: 1em; }

  #trail-brief-section-2-desktop {
    display: none; }

  #trail-brief-section-2-mobile {
    display: block; } }
.image-gradient-dynamic {
  position: relative;
  width: 100%; }
  .image-gradient-dynamic .image-home-hero {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%; }
  .image-gradient-dynamic .copy {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    margin: auto;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 999; }
  .image-gradient-dynamic .overlay {
    background-color: rgba(40, 40, 40, 0);
    background-image: -webkit-linear-gradient(-270deg, rgba(40, 40, 40, 0), rgba(40, 40, 40, 0));
    background-image: -webkit-linear-gradient(90deg,rgba(40, 40, 40, 0), rgba(40, 40, 40, 0));
    background-image: linear-gradient(0deg,rgba(40, 40, 40, 0), rgba(40, 40, 40, 0));
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
    .image-gradient-dynamic .overlay:after {
      background-color: rgba(40, 40, 40, 0);
      background-image: -webkit-linear-gradient(-360deg, rgba(40, 40, 40, 0), rgba(40, 40, 40, 0));
      background-image: -webkit-linear-gradient(0deg,rgba(40, 40, 40, 0), rgba(40, 40, 40, 0));
      background-image: linear-gradient(90deg,rgba(40, 40, 40, 0), rgba(40, 40, 40, 0));
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: '';
      display: block; }
  @media only screen and (max-width: 540px) {
    .image-gradient-dynamic .copy {
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 42%; } }

html body {
  background-color: #F6F5F5;
  margin: 0; }

.img-home-laptop {
  margin-top: 4em;
  width: 100%; }

.img-home-iphone {
  margin-top: 4em;
  width: 178px; }

.square-logo {
  position: fixed;
  right: 24px;
  top: 24px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }

.square-logo:hover {
  opacity: 0.5; }

.img-ui-elements {
  padding-top: 2em;
  padding-bottom: 2em; }

.img-umi-modal {
  padding-top: 6em; }

@media only screen and (max-width: 780px) {
  .img-umi-modal {
    padding-top: 1em; } }
footer {
  background-color: #282828;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 6em; }
  footer a {
    color: #F6F5F5;
    font-size: 0.8em;
    letter-spacing: 3px; }
  footer .footer-left {
    display: inline;
    float: left; }
    footer .footer-left a {
      margin-left: 1em; }
  footer .footer-right {
    display: inline;
    float: right; }
    footer .footer-right a {
      margin-right: 1em; }

@media only screen and (max-width: 780px) {
  footer {
    padding-bottom: 12em; }

  .footer-right {
    padding-top: 2em;
    padding-bottom: 4em; } }
@media only screen and (max-width: 540px) {
  .footer-right {
    float: left; }
    .footer-right a {
      marign-left: 1em; } }
